html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
}

.left-side {
  font-size: 1.5em;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand > * + * {
  margin-left: 10px;
}

.brand > div {
  font-size: 2.5em;
  white-space: nowrap;
}


.subtitle {
  font-size: 1.5em;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1 fr;
  margin-left: 5%;
  margin-right: 5%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.left-side {
  display: flex;
  align-items: center;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.portfolio-items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5vw;
  /*Experimenting with border bottom*/
  border-bottom: solid;
}
/*  Get me every third item and of those, only ones that are in the last three items */
.portfolio-items-wrapper:nth-child(3n+1):nth-last-child(-n+3),
/* Now get me every one after that same collection too. */
.portfolio-items-wrapper:nth-child(3n+1):nth-last-child(-n+3) ~ .portfolio-items-wrapper {
  border-bottom: 0;}

.portfolio-item-wrapper {
  position: relative;
}

.img-text-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*to make sure all images have alt text*/
img:not([alt]),
img[alt=""] {
  border: 3px solid red;
}

.colorToggle {
  width: 100px;
  height: 50px;
}

/*Making sure the content is visible on iPhone X, notched screens*/
@supports(padding: max(0px)) {
    .body {
        padding-left: max(12px, env(safe-area-inset-left));
        padding-right: max(12px, env(safe-area-inset-right));
    }
}
